<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage | Jade Dominguez</title>
    {{# stylesheets.load }}
      application.css
    {{/ stylesheets.load }}
  </head>
  <body>
    <div id="wrapper">
      <div class="padding">
        <div id="logo">=D ^_^ =P :)</div>

        {{{ content }}}

      </div>
      <div id="footer" class="padding">
        <ul id="information">
          <li><a href="/">Home</a></li>
          <li><a href="mailto:plusjade@gmail.com">plusjade@gmail.com</a></li>
          <li><a href="https://github.com/plusjade">https://github.com/plusjade</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
